In [1]:
import pandas as pd
import numpy as np
from sklearn.externals import joblib
import gc

In [11]:
submission_list = [
    '../submissions/lgbm_1.csv',
    '../submissions/xgb_1.csv',
    '../submissions/catb_1.csv',
#     '../submissions/keras_4.csv'
]

In [12]:
list_ = list()
main = pd.read_csv(submission_list[0])
list_.append(main)
for file_ in submission_list[1:]:
    df = pd.read_csv(file_, usecols=['heart_disease_present'])
    list_.append(df)

solutions = pd.concat(list_, axis = 1, ignore_index = True)

In [13]:
solutions.head(5)

        0         1         2         3
0  olalu7  0.502111  0.356766  0.490532
1  z9n6mx  0.257488  0.186778  0.144997
2  5k4413  0.874048  0.933059  0.895438
3  mrg7q5  0.259202  0.122255  0.145458
4  uki4do  0.843650  0.898776  0.837742

In [14]:
df_sol = solutions.iloc[:,list(range(1, len(submission_list)+1))]

In [15]:
df_sol['avg'] = solutions.mean(axis=1)

In [16]:
df_sol[:20]

           1         2         3       avg
0   0.502111  0.356766  0.490532  0.449803
1   0.257488  0.186778  0.144997  0.196421
2   0.874048  0.933059  0.895438  0.900848
3   0.259202  0.122255  0.145458  0.175638
4   0.843650  0.898776  0.837742  0.860056
5   0.071200  0.035137  0.061155  0.055831
6   0.186255  0.293685  0.226348  0.235429
7   0.745263  0.788569  0.809657  0.781163
8   0.395114  0.481586  0.315085  0.397262
9   0.160580  0.166015  0.116478  0.147691
10  0.146555  0.185410  0.221245  0.184403
11  0.424479  0.442081  0.562435  0.476332
12  0.338305  0.303161  0.365883  0.335783
13  0.848931  0.860771  0.884151  0.864618
14  0.177760  0.094093  0.151080  0.140977
15  0.070377  0.054728  0.053609  0.059571
16  0.059027  0.048173  0.043459  0.050219
17  0.135496  0.192619  0.093403  0.140506
18  0.778534  0.872424  0.794003  0.814987
19  0.072296  0.031588  0.081693  0.061859

In [17]:
final_df = pd.DataFrame({'patient_id': solutions[0], 'heart_disease_present': df_sol['avg']})

In [18]:
final_df[:20]

   patient_id  heart_disease_present
0      olalu7               0.449803
1      z9n6mx               0.196421
2      5k4413               0.900848
3      mrg7q5               0.175638
4      uki4do               0.860056
5      kev1sk               0.055831
6      9n6let               0.235429
7      jxmtyg               0.781163
8      51s2ff               0.397262
9      wi9mcs               0.147691
10     741h4l               0.184403
11     1ef64a               0.476332
12     wa2ix6               0.335783
13     8167zl               0.864618
14     n6nldr               0.140977
15     ph85fp               0.059571
16     jfan5p               0.050219
17     7c4iz1               0.140506
18     ukigml               0.814987
19     flwvnq               0.061859

In [19]:
final_df.to_csv('../submissions/ensemble_5.csv', index=None)